<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oracle FitBank</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
</head>
 
<body>
 
    <div class="container">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-muted" href="#">Oracle FitBank</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="main.html">Dashboard</a></li>
      <li class="active"><a href="#">Transactions</a></li>
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Goals <span class="caret"></span></a>
		<ul class="dropdown-menu">
          <li><a href="view_goals.html">View Goals</a></li>
          <li><a href="modify_goals.html">Modify Goals</a></li>
        </ul>
      </li>
	  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Payments <span class="caret"></span></a>
	    <ul class="dropdown-menu">
          <li><a href="make_payments.html">Make Payments</a></li>
          <li><a href="modify_payments.html">Modify Payees</a></li>
        </ul>
	  </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="createEndUser"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="logout.html"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
 
        <div class="col-lg-12">
        <h2 class="col-lg-6">Transactions</h2>
        </div>
  
        <footer class="footer">
            <p>&copy; Oracle 2017</p>
        </footer>
 
    </div>
</body>
 
</html>