<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oracle FitBank</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="createEndUser">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Oracle FitBank</h3>
        </div>
 
        <div class="jumbotron">
        <h1 class="col-lg-6">Enter login details </h1>
		<div class="col-lg-6">
			<form class="form-login">
			<label for="inputName" class="sr-only">Email Address</label>
			<input type="name" name="inputName" id="inputName" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="" required autofocus>

			<button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="button">Login</button>
		</div>

		<p><h2>Not a user yet?</h2></p>
			<a class="btn btn-lg btn-success" href="createEndUser" role="button">Sign Up</a>
            </p>
        </div>
  
        <footer class="footer">
            <p>&copy; Oracle 2017</p>
        </footer>
 
    </div>
</body>
 
</html>